{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<main class="mt-5 pt-5">
        <div class="container">

            <!--Section: Jumbotron-->
            <section class="card wow fadeIn" style="background-image: url({% static 'img/gradient1.jpg' %});">

                <!-- Content -->
                <div class="card-body text-white text-center py-5 px-5 my-5">
    <h1>Custom search</h1>
    <form method="GET" id="filterform">
      {% csrf_token %}
            <div class="container">
                <section class="text-center">

      <div class="row">
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
      {{ filter.form|crispy }}</div>                </section>
</div>
      <button type="submit" class="btn btn-outline-white btn-lg">Search</button>
    </form>



                </div>            </section>

            <hr class="my-5">

<h1>MOVIES</h1> 



                <!-- Content -->
            <!--Section: Jumbotron-->


            <!--Section: Cards-->
            <section class="text-center">
  
                <!--Grid row-->
                <div class="row mb-4 wow fadeIn" id="filterresult">

                  {% for item in filter.qs %}

                    <div class="col-lg-3 col-md-6 mb-3">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                            <img src="{{ item.image.url }}" class="card-img-top"style="height:380px;" >

                                <a href="{% url 'torrentapp:detail' item.slug %}" target="_blank">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">{{ item.name }}</h4>
                                <!--Text-->
                                <p class="card-text">{{item.desc}}</p>
                                <a href="{% url 'torrentapp:detail' item.slug %}" target="_blank" class="btn btn-primary btn-md">Download
                                    <i class="fas fa-play ml-2"></i>
                                </a>
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                    {% endfor %}

                </div>

  </section>
                
      <!--Pagination-->

      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
 
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#filterform").submit(function (event) {
      event.preventDefault();
      var results = document.getElementById("filterresult");

      $.ajax({
        type: "GET", // define the type of HTTP verb we want to use (POST for our form)
        url: "{% url 'torrentapp:searchfilterjson' %}", // the url where we want to POST
        data: $(this).serialize(),
        success: function (response) {
            results.innerHTML =""
          console.log(response);

          $("#filterform")[0].reset();
          response.map(item=>{
          results.innerHTML += `
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="card">
                            <div class="view overlay">
                                            <img src="${item.image}" class="card-img-top"style="height:380px;" >
                                <a href="${item.url}" target="_blank">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">${item.name} (${item.year})</h4>
                                <p class="card-text">${item.desc}</p>
                                <a href="${item.url}" target="_blank" class="btn btn-primary btn-md">Download
                                    <i class="fas fa-play ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div> 
`;
          })

        },
        error: function (error) {
          console.log(error);
        }, // what type of data do we expect back from the server
      });
    });
  });
</script>
     {% endblock content %}
