{% extends "base.html" %}

{% block content %}


{% load static %}


<br>

<br>
<div class="container"><div class="card">    <div class="card-body px-lg-5 pt-0"><br>
<div class="row">
<div class="col-md-4">
{% if profile.picture %}
<img src="{{profile.picture.url}}" alt="" class="card-img-top">

{% else %}
  <img src="{% static 'img/download.png' %}" class="card-img-top" alt="..." style="max-height:360px;">

{% endif %}
</div>
<div class="col-md-6">  

<h3 >{{profile.first}}  {{profile.last}}  <a style="color:#21A3F6;" href="{% url 'torrentapp:profile' user.userprofile.slug %}">@{{profile}}</a></h3>
<br>
<hr><br>
<h3>{{profile.bio}}</h3>

</div>
</div>
</div></div>
</div>

<div class="row">
</div>



</div></div>

          
 <section class="text-center mb-4">
 <div class="container">
 <br><hr><br>
 <h1>MY FAVOURITE MOVIES</h1>
 <br><hr><br>
        <div class="row wow fadeIn">

{% for m in favourite %}

          <div class="col-lg-3 col-md-6 mb-4">

            <div class="card">

              <div class="view overlay">
                <img src="{{ m.image.url }}" class="card-img-top"style="height:380px;" >
        
              </div>

              <div class="card-body text-center">
                                  <a href="{% url 'torrentapp:detail' m.slug %}" class="dark-grey-text"><h6>{{ m }}</h6>    </a>

            </div>

            </div>

          </div>
          {% endfor %}
        </div>
</div>
      </section>
    
 <section class="text-center mb-4">
 <div class="container">
 <br><hr><br>
 <h1>MOVIES I ADDED</h1>
 <br><hr><br>
        <div class="row wow fadeIn">

{% for m in movie %}

          <div class="col-lg-3 col-md-6 mb-4">

            <div class="card">

              <div class="view overlay">
                <img src="{{ m.image.url }}" class="card-img-top"style="height:380px;" >
        
              </div>

              <div class="card-body text-center">
                                  <a href="{% url 'torrentapp:detail' m.slug %}" class="dark-grey-text"><h6>{{ m }}</h6>    </a>

            </div>

            </div>

          </div>
          {% endfor %}
        </div>
</div>
      </section>

{% endblock %}

